/.bundle/
/pkg/
/tmp/
/coverage/
/test/dummy/log/*.log
/test/dummy/tmp/
/test/dummy/storage/
/test/dummy/db/*.sqlite3
/test/dummy/db/*.sqlite3-*
Gemfile.lock
/test/dummy/db/migrate/*.selise_sentry.rb
/test/dummy/db/schema.rb
